<ng-container *ngIf="currentUser$ | async as currentUser">
  <ng-container *ngIf="users$ | async as users">
    <h1>
      Users
      <small
        ><small>({{ users.length }})</small></small
      >
      <button (click)="onAddNewUserClicked()">+ New User</button>
    </h1>
    <div class="flex-column flex-gap-8px">
      <ng-container *ngFor="let user of users">
        <div [ngClass]="{ me: user.id === currentUser.id }" class="flex-row">
          <div class="flex-grow">
            {{ user.name }}
          </div>
          <div class="flex-grow">
            {{ user.email }}
          </div>
          <div>
            <select
              name="user-{{ user.id }}-level-selector"
              attr.aria-label="user {{ user.id }} level selector"
              [value]="user.level"
              [disabled]="user.id === currentUser.id"
              (change)="onLevelChanged(user, $any($event.target).value)"
            >
              <option
                *ngFor="let level of USER_LEVEL"
                [value]="level"
                [selected]="level === user.level"
              >
                {{ level }}
              </option>
            </select>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
</ng-container>
