<form class="user-form flex-column flex-gap-8px" #userForm="ngForm">
  <div>
    <label for="name"> Name </label>
    <input [(ngModel)]="newUser.name" type="text" name="name" required />
  </div>

  <div>
    <label for="email"> E-mail </label>
    <input
      [(ngModel)]="newUser.email"
      autocomplete="off"
      type="text"
      name="email"
      required
    />
  </div>

  <div>
    <label for="user-level-selector"> Level </label>
    <select
      name="user-level-selector"
      attr.aria-label="user level selector"
      [(ngModel)]="newUser.level"
      required
    >
      <option
        *ngFor="let userLevelOptionValue of USER_LEVELS"
        [value]="userLevelOptionValue"
      >
        {{ userLevelOptionValue }}
      </option>
    </select>
  </div>

  <div>
    <label for="password"> Password </label>
    <input
      [(ngModel)]="newUser.password"
      [type]="(showPassword$ | async) ? 'text' : 'password'"
      autocomplete="off"
      name="password"
      required
    />
  </div>

  <div class="flex-row flex-align-center flex-gap-8px">
    <input
      (change)="onShowPasswordCheckStatusChanged($event)"
      [(ngModel)]="showPassword"
      type="checkbox"
      name="showPassord"
      class="change-password-checkbox"
      required
    />
    <small><label for="showPassord">Show password</label></small>
  </div>
</form>
