<div class="flex-column">
  <div class="flex-row flex-align-center flex-gap-8px app-page-wrapper-header">
    <button
      *ngIf="nav"
      class="menu-button"
      (click)="toggleMenu()"
      color="accent"
    >
      &equals;
    </button>
    <div>
      <a
        class="uppercase"
        routerLink="/"
        *ngIf="userService.current$ | async as currentUser; else titleTemplate"
      >
        <small>{{ currentUser.email }}</small>
        ->
        <small>{{ currentUser.level }}</small>
      </a>
    </div>
    <div class="flex-grow"></div>
    <div>
      <ng-content select="menu"></ng-content>
    </div>
  </div>
  <div class="flex-grow flex-row">
    <div class="app-page-wrapper-left-menu" *ngIf="showMenu$ | async">
      <ng-content select="nav"></ng-content>
    </div>

    <div class="flex-grow app-page-wrapper-content">
      <a *ngIf="showBackButton$ | async" routerLink="..">< Back</a>
      <ng-content></ng-content>
    </div>
  </div>
</div>

<ng-container *ngIf="alertService.alert$ | async as alert">
  <div class="alert" [attr.color]="alert.color">
    <div *ngIf="alert.title">{{ alert.title }}</div>
    <div class="flex-row flex-gap-8px flex-align-center">
      <div
        *ngIf="alert.message"
        class="flex-grow"
        [innerHTML]="alert.message"
      ></div>
      <div *ngIf="alert.next" (click)="alert.next()">
        <button
          [attr.color]="alert.color"
          *ngIf="alert.next"
          (click)="alert.next()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #titleTemplate> Passport </ng-template>
