.app-page-wrapper-header {
  height: 40px;
  padding: 8px;
  background-color: black;
  color: white;
  a {
    color: white;
  }
}

.app-page-wrapper-content {
  padding: 8px;
}

.app-page-wrapper-left-menu {
  background-color: black;
  color: white;
  a {
    color: white;
  }
  width: 200px;
}
