.alert {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: var(--app-color-grey-light);
  color: var(--app-color-grey-light-contrast);
  padding: 8px;

  &[color="primary"] {
    background-color: var(--app-color-primary);
    color: var(--app-color-primary-contrast);
  }

  &[color="accent"] {
    background-color: var(--app-color-accent);
    color: var(--app-color-accent-contrast);
  }

  &[color="warn"] {
    background-color: var(--app-color-warn);
    color: var(--app-color-warn-contrast);
  }

  &[color="success"] {
    background-color: var(--app-color-success);
    color: var(--app-color-success-contrast);
  }
}
