button,
a.button,
a.button:visited,
a.button:active {
  /* remove default behavior */
  appearance: none;
  -webkit-appearance: none;

  border: none;
  border-radius: var(--default-border-radius);
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  padding: 8px;

  &[color="primary"] {
    color: var(--app-color-primary);
    background-color: var(--app-color-primary-contrast);
    &:hover {
      background-color: var(--app-color-primary);
      color: var(--app-color-primary-contrast);
    }
  }
  &[color="primary-contrast"] {
    color: var(--app-color-primary-contrast);
    background-color: var(--app-color-primary);
    &:hover {
      background-color: var(--app-color-primary-contrast);
      color: var(--app-color-primary);
    }
  }

  &[color="accent"] {
    color: var(--app-color-accent);
    background-color: var(--app-color-accent-contrast);
    &:hover {
      background-color: var(--app-color-accent);
      color: var(--app-color-accent-contrast);
    }
  }

  &[color="accent-contrast"] {
    color: var(--app-color-accent-contrast);
    background-color: var(--app-color-accent);
    &:hover {
      background-color: var(--app-color-accent-contrast);
      color: var(--app-color-accent);
    }
  }

  &[color="warn"] {
    color: var(--app-color-warn);
    background-color: var(--app-color-warn-contrast);
    &:hover {
      background-color: var(--app-color-warn);
      color: var(--app-color-warn-contrast);
    }
  }

  &[color="warn-contrast"] {
    color: var(--app-color-warn-contrast);
    background-color: var(--app-color-warn);
    &:hover {
      background-color: var(--app-color-warn-contrast);
      color: var(--app-color-warn);
    }
  }

  &:disabled,
  &:disabled:hover {
    background-color: transparent;
    color: var(--app-color-grey);
    cursor: initial;
  }
}
