button,
a.button,
a.button:visited,
a.button:active {
  border: none;
  border-radius: 4px;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  padding: 8px;

  &[color="primary"] {
    color: var(--app-color-primary);
    background-color: var(--app-color-primary-contrast);
    &:hover {
      background-color: var(--app-color-primary);
      color: var(--app-color-primary-contrast);
    }
  }
  &[color="accent"] {
    color: var(--app-color-accent);
    background-color: var(--app-color-accent-contrast);
    &:hover {
      background-color: var(--app-color-accent);
      color: var(--app-color-accent-contrast);
    }
  }
  &[color="warn"] {
    color: var(--app-color-warn);
    background-color: var(--app-color-warn-contrast);
    &:hover {
      background-color: var(--app-color-warn);
      color: var(--app-color-warn-contrast);
    }
  }

  &:disabled,
  &:disabled:hover {
    background-color: transparent;
    color: var(--app-color-grey);
    cursor: initial;
  }
}
