:root {
  --app-color-primary: black;
  --app-color-primary-contrast: white;

  --app-color-accent: violet;
  --app-color-accent-contrast: black;

  --app-color-warn: red;
  --app-color-warn-contrast: white;

  --app-color-grey: grey;
  --app-color-grey-contrast: black;

  --app-color-grey-light: #dadada;
  --app-color-grey-light-contrast: black;

  --app-color-success: #02aa65;
  --app-color-success-contrast: white;
}
